<div class="pure-g">
  <div class="pure-u-1 text-center">
    <p>&copy; 2015 - <a href="http://www.supdeweb.com">Sup2Web.</a>
  </div>
  <div class="pure-u-1 text-center">
    <ul class="hlist">
      <li><a target="_blank" href="https://twitter.com/SupdeWeb">twitter</a>
      </li>
      <li><a target="_blank" href="https://www.facebook.com/supdeweb">facebook</a>
      </li>
      <li><a target="_blank" href="https://www.linkedin.com/edu/school?id=155043&trk=tyah&trkInfo=tarId%3A1412860070537%2Ctas%3Asupdewe%2Cidx%3A2-1-2">LinkedIn</a>
      </li>
    </ul>
  </div>
</div>
